@charset "UTF-8";
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
}
.navbar__logo{	
	font-size: 21pt;
}
.navbar__logo__text{
	font-family: 'Chewy', cursive;
	color: var(--accent-color);
}
.navbar__logo__img{
	width: 30px;
    vertical-align: text-top;
}

.navbar__users {
	display: flex;
	align-items: center;
}

.navbar__users li {
	list-style: none;
	padding: 0 3px;
}

.navbar__users form {
	display: inline;
}

.users__img {
	width: 35px;
	object-fit: cover;
	object-position: center;
}

.logout {
	margin-left: 10px;
	background-color: var(--light-color);
}
