@charset "UTF-8";


/*	검색 영역	*/
.searchWrap {
	min-width: 450px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.searchWrap input[type="text"] {
	width: 320px;
	padding: 5px 8px;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid gray;
}

.searchBtn {
	font-size: 15px;
    font-weight: 800;
    background-color: #ececec;
    color: #218c74;
    padding: 4px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
}

/*	검색결과	*/
.contents__container {
	margin-top: 20px;
	max-height: 400px;
	overflow: hidden;
    overflow-y: auto;
}

/*	검색결과 스크롤	*/
.contents__container::-webkit-scrollbar {
    width: 10px;
}

.contents__container::-webkit-scrollbar-track {   
    border-radius: 1rem;
}

.contents__container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 4px 0px rgba(76, 76, 76, 0.1);
    background-color: #efefef8f;
    border-radius: 1rem;
}

/*	검색결과 리스트	*/
.contents__container ul {
  	padding: 0;
  	margin: 0;
}

.contents__container li {
	display: flex;
  	justify-content: space-between;
  	align-items: center;
    list-style: none;
    border-bottom: 1px solid #ecf0f1;
    min-height: 100px;
    padding: 0 1em;
}

/*	검색 결과 0일 때	 */
.contents__container p {
	text-align: center;
	color: gray;
	font-size: 18px;
	font-weight: 500;
}

/*	검색결과 포스터 이미지	*/
.contents__container img {
	width: 70px;
	vertical-align: middle;
}

/* 	컨텐츠 타이틀	*/
.contents__container div {
	display: grid;
}

.contents__container span {
	text-align: center;
	position: relative;
}

.title {
	font-weight: 500;
	font-size: 15px;
}

.subtitle {
	font-size: 12px;
	color: #acacac;
}

/*	선택 버튼	*/
.contents__container li button {
	font-size: 13px;
}

/*	더보기 버튼      */
.viewMoreBtn {
	font-size: 15px;
    background-color: #ececec;
    color: #218c74;
    padding: 7px 18px;
    border-radius: 20em;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 15px auto;
}


/*	글쓰기 폼	*/
.writeFormWrap {
	min-width: 450px;
	max-width: 800px;
	margin: auto;
	margin-top: 50px;
}
.writeForm input {
	margin: 5px 0 15px 0;
}
.writeForm input[type="text"] {
	padding: 5px 8px;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid gray;
}
.writeForm input[type="range"] {

}
.writeForm p {
	font-size: 12px;
	color: gray;
}
.rating__span{
	color: var(--accent-color);
	font-weight: 600;
	font-size: 17px;
}
.writeForm__row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.writeForm__col {
	padding: 7px;
	display: grid;
	margin: 0 10px;
}
.left{
	max-width: 110px;
	width: 30%;
}
.right{
	width: 70%; 
}

#posterImgUpload{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#posterImgUpload + label {
    border: 1px solid #d9e1e8;
    background-color: #fff;
    color: var(--accent-color);
    border-radius: 2rem;
    padding: 5px 12px;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 1px 2px 3px 0px #f2f2f2;
    outline: none;
    margin-top: 7px;
    text-align: center;
}

#posterImgUpload:focus + label,
#posterImgUpload + label:hover {
    cursor: pointer;
}

.writeForm textarea {
	resize: none;
    width: 90%;
    padding: 12px;
    border: none;
    outline-color: var(--accent-color);
}

.save {
	width: 120px;
}

/*	포스터 이미지	*/
.posterImg{
	width: 110px;
    height: 160px;
    object-fit: cover;
    object-position: center;
}

/*	로딩	 */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(33,140,116, 0.2);
  border-right: 1.1em solid rgba(33,140,116, 0.2);
  border-bottom: 1.1em solid rgba(33,140,116, 0.2);
  border-left: 1.1em solid #218c74;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}